
body > * {
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-image: url("../assets/img/background_auth.jpg");
    background-size: cover;
    height: 100%;
}

h1 {
    padding-top: 40px;
    justify-self: center;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    width: fit-content;
}

main.container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    height: 330px;
    min-width: 300px;
    max-width: 350px;
    margin-top: 30px;
    border: rgba(0, 0, 0);
    border-radius: 5%;
    border-style: ridge;
    backdrop-filter: blur(2px);
}

.invalid {
    color: red;
}

.buttonSubmit {
    background: #ffffff;
    height: 50px;
    width: 150px;
    border: rgb(0, 0, 0);
    border-radius: 25px;
    border-style: ridge;
}

.buttonSubmit:hover {
    background: rgba(255, 255, 255, 0.5);
}

.switchAuth {
    justify-self: center;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    font-weight: bold;
    color: #ffffff;
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

a {
    color:rgb(10, 100, 200);
    text-decoration: none;
}

a:hover {
    color:rgb(10, 100, 235);
    text-decoration: none;
}
