
/* CSS General */

body {
    background-color: white;
}

/* ---------------------------------------------------------------------- */

/* Milieu de page */

.infoArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.infoArticle .title {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: black;
}

.infoArticle .separator {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: black;
    margin: 15px 0;
}

.infoArticle .littleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.infoArticle .littleInfo p {
    padding: 0px 10px;
    margin: 0;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    color: black;
}

.infoArticle .link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoArticle .link a {
    text-decoration: none;
    padding-top: 5px;
    color: grey;
    font-weight: normal; 
}

.infoArticle .link a:hover {
    color: black;
    text-decoration: underline;
}

/* ---------------------------------------------------------------------- */

/* CSS Responsive */

@media screen and (min-width: 600px) {

    .infoArticle .title {
        font-size: 1.5em;
    }

    .infoArticle .text {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {

    .infoArticle .littleInfo p {
        font-size: 0.7em;
    }

    .infoArticle .text {
        font-size: 0.8em;
    }

}

/* ---------------------------------------------------------------------- */