
body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-image: url(../assets/img/background-liste.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.userList > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.queryUsers {
    margin-top: 15px;
    background: white;
    min-height: 65px;
    border: ridge rgba(0, 0, 0);
    border-radius: 10px 10px 0 0;
}

.userCase {
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.75)
    );
    min-height: 75px;
    border: ridge rgba(0, 0, 0);
    border-radius: 10px;
}

img {
    border-radius: 25%;
}

.active {
    background: white;
    min-height: 65px;
    margin-top: 0;
    margin-bottom: 0;
    border: ridge black;
    border-radius: 10px;
}

.inputID {
    width: 60px;
}

.inputUsername, .inputReason {
    width: 100px;
}

.buttonSubmit {
    min-height: 40px;
    min-width: 150px;
    border: solid 2px black;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.buttonSubmit:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.75);
    min-height: 40px;
    min-width: 150px;
    border: solid 2px black;
    border-radius: 50px;
}

.userCase.banned {
    background: rgba(255, 50, 50, 0.5);
}

.cantban {
    cursor: no-drop;
}

.eye {
    cursor: pointer;
}



table {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

thead, tbody, tr, th, td {
    display: flex;
    width: 100%;
    justify-content: center;
}

th {
    align-items: center;
}

tbody {
    display: flex;
    flex-direction: column;
}
