body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px 0;
    background: url(../../assets/img/f0aa45ecd218158b9d72efaa158ba843dfa95d24dd3a8c27.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* ---------------------------------------------------------------------- */

/* Form box */

.box {
    position: relative;
    width: 800px;
    height: 585px;
    border-radius: 8px;
    overflow: hidden;
}

/* ---------------------------------------------------------------------- */

/* Form */

.box form {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.box form h2 {
    color: black;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
}

.box .boxIdentity {
    display: flex;
    gap: 20px;
}

/* Input fields */
.box form .inputBoxIdentity,
.box form .inputBoxOther {
    position: relative;
}

.box form .inputBoxOther {
    margin-top: 35px;
}

.box .boxIdentity .inputBoxIdentity {
    flex: 1;
}

.box form .inputBoxOther {
    width: 300px;
}

.box form .inputBox textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 10px 10px 10px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    resize: none;
    z-index: 10;
}

.box form .inputBox .spanTextarea {
    position: absolute;
    top: -45px;
    left: 0px;
    padding: 20px 0px 10px;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: black;
    font-size: 0.75em;
}

.box form .inputBoxOther.full-width {
    width: 100%;
}

.box form .inputBoxOther.margeBottom {
    margin-bottom: 35px;
}


.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: black;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid black;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 44px;
    background: transparent;
}

/* Form link */

.box form .links {
    display: flex;
    justify-content: end;
}

.box form .links a {
    margin: 10px 10px;
    font-size: 0.75em;
    color: black;
    text-decoration: none;
}

/* Form button final */

.box form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 5px;
    background: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 125px;
    margin-top: 20px;
    color: black;
    border: 2px solid black;
}

.box form input[type="submit"]:hover {
    background: whitesmoke;
}

.box form input[type="submit"]:active {
    opacity: 0.8;
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
}

.popup.show {
    opacity: 1;
    pointer-events: all;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#closePopup {
    background-color: #AB4ABA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

#closePopup:hover {
    background-color: rgba(171, 74, 186, 0.75);
}


/* ---------------------------------------------------------------------- */

/* CSS Responsive */

@media screen and (max-width: 991px) {
    .box {
        width: 600px;
    }
}

@media screen and (max-width: 675px) {
    .box {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .box {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .box {
        width: 350px;
    }
}


/* ---------------------------------------------------------------------- */