/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
    border: 2px solid black;
}

.popup.show {
    opacity: 1;
    pointer-events: all;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#closePopup {
    background: white;
    color: black;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 4px;
}

#closePopup:hover {
    background: whitesmoke;
}