.main-container {
    background: #FCF9F6;
}

.box {
    height: 510px;
}

.box form {
    background: #FCF9F6;
}

.box form .links a {
    color: #9B9EF0;
}

/* ---------------------------------------------------------------------- */

.box::before {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #CEA37E,
        #CEA37E,
        #CEA37E
    );
}

.box::after {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #CEA37E,
        #CEA37E,
        #CEA37E
    );
}

.borderLine::before {
    top: -35%;
}

.borderLine::after {
    top: -35%;
}

/* ---------------------------------------------------------------------- */